<table>
  <tr>
    <td>
<div>
  <h2>Enter license plate number to park a car:</h2>
  <label for="licensePlate">License Plate Number:</label>
  <input type="text" id="licensePlate" [(ngModel)]="licensePlateNumber">
  <button (click)="parkCar()">Park Car</button>
  <br><br>

  <h2>Enter license plate number to unpark a car:</h2>
  <label for="licensePlate">License Plate Number:</label>
  <input type="text" id="licensePlate" [(ngModel)]="licensePlateNumber">
  <button (click)="unparkCar()">Unpark Car</button>
  <br><br>

  <h2>Enter license plate number to get parked car's price:</h2>
  <label for="licensePlate">License Plate Number:</label>
  <input type="text" id="licensePlate" [(ngModel)]="licensePlateNumber">
  <button (click)="getPrice()">Get Price</button>
  <p>{{ price$ | async }}</p>
  <br><br>

  <h2>Enter license plate number to pay for parked car:</h2>
  <label for="licensePlate">License Plate Number:</label>
  <input type="text" id="licensePlate" [(ngModel)]="licensePlateNumber">
  <label for="payment">Payment:</label>
  <input type="number" id="payment" [(ngModel)]="payment">
  <button (click)="payPrice()">Pay</button>
  <br><br>
  <h2>Errors :</h2>
  <p [class.highlighted]>{{ result$ }}</p>  
  <br><br>
</div>
</td>
<td>
<div>
  <h2>Number of free spaces in the parking lot:</h2>
  <p>{{ freeSpaces$ | async }}</p>
  <button (click)="getFreeSpaces()">Refresh</button>

  <h2>Parked Cars:</h2>
<table>
  <thead>
    <tr>
      <th>License Plate</th>
      <th>Entry Time</th>
      <th>Parking Paid</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of parkedCars | async">
      <td>{{ car.licensePlate }}</td>
      <td>{{ car.dateOfEntry | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td>{{ car.parkingPaid }}</td>
    </tr>
  </tbody>
</table>
<button (click)="getParkedCars()">Refresh</button>
</div>
</td>
</tr>
</table>